[Unit]
Description=isuumo.python
After=syslog.target

[Service]
WorkingDirectory=/home/isucon/isuumo/webapp/python
EnvironmentFile=/home/isucon/env.sh
PIDFile=/home/isucon/isuumo/webapp/python/server.pid

User=isucon
Group=isucon
ExecStart=/home/isucon/local/python/bin/gunicorn -b localhost:5000 --config gunicornf.py app:app

Restart   = always
Type      = simple
[Install]
WantedBy=multi-user.target